<section id="two">
	<div class="container">
		<h3>New plant to grow</h3>
		<p>Please enter reqired information.</p>
  		<%= form_for Grow.new, :url => { :action => "create" } do |f| %>
			<div class="row uniform">
				<div class="12u">
            		<%= f.text_field :name, required: true, :placeholder => "My Amazing Garden" %>
				</div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<%= f.text_area :description, :placeholder => "Here I will grow my spices" %>
				</div>
			</div>
			<div class="row uniform">
				<div class="12u">
            		<%= f.text_field :api_location, required: true, :placeholder => "http://42.0.42.0" %>
            	</div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<ul class="actions">
						<li>
            				<%= f.submit "Add to My Gardens", :class => "special" %>
						</li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
</section>
