<section id="two">
	<div class="container">
		<h3>New plant to grow</h3>
  		<%= form_for Grow.new, :url => { :action => "create" } do |f| %>
  			<div id="step_one">
				<div class="row uniform">
					<div class="6u move-down"><p>Please enter information about your garden.</p></div>
					<div class="12u move-up">
	            		<%= f.text_field :name, required: true, :placeholder => "Garden name", required: true %>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<%= f.text_area :description, :placeholder => "Enter name of plant you are growing...", required: true %>
					</div>
				</div>
				<div class="12u move-down">
						<%=f.hidden_field :api_location %>
						<div id="select_device"></div>
				</div>
				<div class="row move-down">
					<div class="10u">
						<p>Allow parameter sharing</p>
					</div>
					<div class="1u">
						<%=f.check_box :allow_sharing, class: "js-switch", checked: true %>
					</div>
				</div>
				<small>*If you allow parameter sharing, other users can use your settings based on similarity. We respect your privacy.</small>
				<hr>
			</div>
			<div id="step_two">
				<p>Values below are suggested based on your description. Please adjust values.</p>
				<div class="12u">
					<div class="8u"><i class="fa fa-fire"></i> <span id="s_temp_low"></span>°C - <span id="s_temp_high"></span>°C</div>
					<div class="12u">
						<div id="temperature_slider"></div>
					</div>
				</div>
				<div class="12u">
					<div class="8u"><i class="fa fa-tint"></i> <span id="s_hum_low"></span>% - <span id="s_hum_high"></span>%</div>
					<div class="12u">
						<div id="humidity_slider"></div>
					</div>
				</div>
				<%=f.hidden_field :temp_high, value: 23 %>
				<%=f.hidden_field :temp_low, value: 15 %>
				<%=f.hidden_field :hum_high, value: 60 %>
				<%=f.hidden_field :hum_low, value: 30 %>
			</div>
			<div class="row move-down-lg">
					<div class="12u">
						<ul class="actions">
							<li><%= f.submit "Continue", :class => "special" %></li>
						</ul>
					</div>
			</div>
			<div class="row move-up">
					<div class="12u">
						<ul class="actions">
		  				<li><%=link_to "Cancel", grows_path, class: "button" %></li>
		  			</ul>
		  		</div>
		  </div>
		<% end %>
	</div>
</section>
