<section id="two">
	<div class="container">
		<h3>Create a new garden</h3>
			<div id="search">
				<p>What would you like to grow?</p>
				<div class="row move-up">
					<div class="10u">
						<input id="search-input" type="text" placeholder="Enter a name of a plant...">
					</div>
					<div class="2u"><a class="button special" id="search-button">Search</a></div>
					<div class="move-down" style="width:100%">
						<div id="search-results"></div>
						<div id="search-controls" class="move-down" style="display:none">
							<p>Great choice! Now, let's setup your garden.</p>
							<hr>
		  				<div class="row">
		  						<div class="12u">
		  							<ul class="actions">
		  			  				<li><%=link_to "Continue", "#", class: "button special", id: "search-continue" %></li>
		  			  				<li class="move-down"><%=link_to "Cancel", grows_path, class: "special" %></li>
		  			  			</ul>
		  			  		</div>
		  			  </div>
	  			  </div>
					</div>
				</div>
			</div>

  		<%= form_for Grow.new, :url => { :action => "create" } do |f| %>

  			<div id="step_one">
				<div class="row uniform">
					<div class="6u move-down"><p>Please enter information about your garden.</p></div>
					<div class="12u move-up">
							<%= f.text_area :name, :placeholder => "Enter a name of your garden...", required: true %>
					</div>
				</div>
				<div class="12u move-down">
						<%=f.hidden_field :api_location %>
						<div id="select_device"></div>
				</div>
				<div class="row move-down">
					<div class="10u">
						<p>Allow parameter sharing</p>
					</div>
					<div class="1u">
						<%=f.check_box :allow_sharing, class: "js-switch", checked: true %>
					</div>
				</div>
				<small>*If you allow parameter sharing, other users can use your settings based on similarity. We respect your privacy.</small>
				<hr>
			</div>
			<div id="step_two">
				<p>Values below are suggested based on your plant. Please adjust values.</p>
				<div class="12u">
					<div class="8u"><i class="fa fa-fire"></i> <span id="s_temp_low"></span>°C - <span id="s_temp_high"></span>°C</div>
					<div class="12u">
						<div id="temperature_slider"></div>
					</div>
				</div>
				<div class="12u">
					<div class="8u"><i class="fa fa-tint"></i> <span id="s_hum_low"></span>% - <span id="s_hum_high"></span>%</div>
					<div class="12u">
						<div id="humidity_slider"></div>
					</div>
				</div>
				<div class="12u">
					<div class="8u">Approximate harvest in about <span id="s_grow_weeks"></span> weeks</div>
					<div class="12u">
						<div id="week_slider"></div>
					</div>
				</div>
				<%=hidden_field_tag :grow_weeks, required: true %>
				<%=f.hidden_field :description, required: true %>
				<%=f.hidden_field :info_link, required: true %>
				<%=f.hidden_field :image_url, required: true %>
				<%=f.hidden_field :latin %>
				<%=f.hidden_field :temp_high, value: 23 %>
				<%=f.hidden_field :temp_low, value: 15 %>
				<%=f.hidden_field :hum_high, value: 60 %>
				<%=f.hidden_field :hum_low, value: 30 %>
			</div>
			<div class="row move-down-lg">
					<div class="12u">
						<ul class="actions">
							<li><%= f.submit "Continue", :class => "special" %></li>
						</ul>
					</div>
			</div>
			<div class="row move-up">
					<div class="12u">
						<ul class="actions">
		  				<li><%=link_to "Cancel", grows_path, class: "button" %></li>
		  			</ul>
		  		</div>
		  </div>
		<% end %>
	</div>
</section>
