<section id="one">
	<div class="container">
		<h3><%=@grow.name%></h3>
		<div id="current">
				<small class="before">temperature </small><div id="current_temp">please wait..</div>
				<div id="current_hum">loading</div><small class="after"> humidity</small>
		</div>
    <div id="chartdiv" style="width:100%; height:400px;"></div>
	</div>
</section>

<section id="two">
	<div class="container">
		<h3>Notifications</h3>
		<%if @notifications.present? %>

		<% else %>
			<p>Don't have time to check? No problem, notifications will appear here and via email!</p>
			<ul class="feature-icons">
				<li class="fa-code">Scheduled event</li>
				<li class="fa-cubes">Temperature is too high</li>
				<li class="fa-book">Check humidity</li>
				<li class="fa-coffee">Drink much coffee</li>
				<li class="fa-bolt">Lightning bolt</li>
				<li class="fa-users">Shadow clone technique</li>
			</ul>
		<% end %>
	</div>
</section>

<section id="three">
	<div class="container">
		<h3>Schedule</h3>
		<p>Need to remember something? Schedules will keep you on track.</p>
		<%=form_for([@grow, Schedule.new], remote: true , :html => {'data-type' => 'html'}) do |f| %>
		<div class="row">
			<div class="4u">
				<%=f.text_field :time, id: "datetimepicker", placeholder: "Select date" %>
			</div>
			<div class="3u">
				<%=f.text_field :title, placeholder: "Description" %>
			</div>
			<div class="3u">
				<%=f.submit "Add reminder", class: "button special" %>
			</div>
		</div>
		<%end%>
		
		<div class="features">
			<article>
				<div class="inner">
					<h4>Harvest</h4>
					<p>Your crop should be available in 122 days!</p>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="four">
	<div class="container">
		<h3>Settings</h3>
		<p>Configure your garden here.</p>
		<form method="post" action="#">
			<div class="row uniform">
				<div class="12u"><input type="text" name="api" id="api" placeholder="API endpoint IP" value="<%=@grow.api_location%>" /></div>
			</div>
			<div class="row uniform">
				<div class="12u"><input type="text" name="address" id="address" placeholder="Notifications address" /></div>
			</div>
			<div class="row uniform">
				<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<ul class="actions">
						<li><input type="submit" class="special" value="Save values" /></li>
					</ul>
				</div>
			</div>
		</form>
		<div class="center">
			<%=link_to "Log out", destroy_user_session_path, :class => "button center"%>
		</div>
	</div>
</section>
<script type="text/javascript">
  var address_location = "<%=@grow.api_location%>" ;
  $('#datetimepicker').datetimepicker({
  	format:'d.m.Y - H:i',
  	minDate:'+1970/01/02'
  });
</script>

