<section id="one">
	<div class="container">
		<h3><%=@grow.name.capitalize%></h3>
		<div id="current">
				<small class="before">temperature </small><div id="current_temp">please wait..</div>
				<div id="current_hum">loading</div><small class="after"> humidity</small>
		</div>
    <div id="chartdiv" style="width:100%; height:400px;"></div>
	</div>
</section>

<section id="two">
	<div class="container">
		<h3>Notifications</h3>
		<%if @grow.notifications.not_dismissed.present? %>
			<p>Any message since you last logged in is displayed here. <a>Dismiss all</a></p>
			<ul class="feature-icons">
			<% @grow.notifications.not_dismissed.each do |notification| %>
				<hr>
				<%=render partial: "shared/notification_list", :locals => {:grow => @grow, :status => notification.status} %>
				<li><small><%=time_ago_in_words notification.created_at%> ago</small></li>
			<% end %>
			</ul>
		<% else %>
			<p>Don't have time to check? No problem, notifications will appear here and via email!</p>
			<ul class="feature-icons">
				<li class="fa-code">Scheduled event</li>
				<li class="fa-cubes">Temperature is too high</li>
				<li class="fa-book">Check humidity</li>
				<li class="fa-coffee">Drink much coffee</li>
				<li class="fa-bolt">Lightning bolt</li>
				<li class="fa-users">Shadow clone technique</li>
			</ul>
		<% end %>
	</div>
</section>

<section id="three">
	<div class="container">
		<h3>Schedule</h3>
		<p>Need to remember something? Schedules will keep you on track.</p>
		<%=form_for([@grow, Schedule.new], remote: true , :html => {'data-type' => 'html'}) do |f| %>
		<div class="row">
			<div class="4u">
				<%=f.text_field :time, id: "datetimepicker", placeholder: "Select date", required: true %>
			</div>
			<div class="5u">
				<%=f.text_field :title, placeholder: "Description", required: true %>
			</div>
			<div class="2u">
				<%=f.submit "Add reminder", class: "button special" %>
			</div>
		</div>
		<%end%>
		
		<div class="features">
			<% if @grow.schedules.present? %>
				<% @grow.schedules.each do |schedule| %>
					<article>
						<div class="inner">
							<h4><%=schedule.title.capitalize%></h4>
							<p>Your should check back in <%=time_ago_in_words schedule.time %>!</p>
						</div>
					</article>
				<% end %>
			<% end %>
			<article>
				<div class="inner">
					<h4>Harvest</h4>
					<p>Your crop should be available in <%=time_ago_in_words DateTime.now+23.days %>!</p>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="four">
	<div class="container">
		<h3>Settings</h3>
		<p class="bold">Configure your garden here.</p>
		<div class="12u">
			<div class="8u"><i class="fa fa-fire"></i> <span id="s_temp_low"></span>°C - <span id="s_temp_high"></span>°C</div>
			<div class="12u">
				<div id="temperature_slider"></div>
			</div>
		</div>
		<div class="12u">
			<div class="8u"><i class="fa fa-tint"></i> <span id="s_hum_low"></span>% - <span id="s_hum_high"></span>%</div>
			<div class="12u">
				<div id="humidity_slider"></div>
			</div>
		</div>

		<%=form_for @grow do |f| %>

		<%=f.hidden_field :temp_high, value: @grow.temp_high %>
		<%=f.hidden_field :temp_low, value: @grow.temp_low %>
		<%=f.hidden_field :hum_high, value: @grow.hum_high %>
		<%=f.hidden_field :hum_low, value: @grow.hum_low %>

		<div class="12u">
			<div class="6u">Sensor source (API) address</div>
			<div class="12u"><%=f.text_field :api_location %></div>
		</div>
		<div class="row move-down">
			<div class="10u">
				<p>Allow parameter sharing</p>
			</div>
			<div class="1u">
				<%=f.check_box :allow_sharing, class: "js-switch", checked: @grow.allow_sharing %>
			</div>
		</div>
		<div class="row move-up">
				<div class="12u">
					<ul class="actions">
						<li><%=f.submit "Save values", class: "special" %></li>
					</ul>
				</div>
			</div>
		<small>*If you allow parameter sharing, other users can use your settings based on similarity. We respect your privacy.</small>
		<% end %>
		<hr>
		<p class="bold">About garden</p>
		<div class="12u">
			<div class="6u">Notifications address</div>
			<div class="12u"><small><%=current_user.email%></small></div>
		</div>
		<div class="12u">
			<div class="6u">Garden description</div>
			<div class="12u"><small><%=@grow.description%></small></div>
		</div>
		<div class="12u">
			<div class="6u">Date of creation</div>
			<div class="12u"><small><%=@grow.created_at.strftime("%d. %m. %Y")%></small></div>
		</div>
		<hr>
		<p class="bold">Danger zone</p>
		<small>Beware: actions made in this area cannot be reversed!</small>
		<div class="center move-down">
			<ul class="actions">
					<div class="row">
					<div class="6u">
						<li><%=link_to "Delete this garden", @grow, class: "button special-red center", data: { confirm: 'Deleting will result in loss of all data! Are you sure?'}, method: :delete%></li>
					</div>
					<div class="6u">
						<li><%=link_to "Log out", destroy_user_session_path, :class => "button center"%></li>
					</div>
				</div>
			</ul>
		</div>
	</div>
</section>
<script type="text/javascript">
  var address_location = "<%=@grow.api_location%>" ;
  $('#datetimepicker').datetimepicker({
  	format:'d.m.Y - H:i',
  	minDate:'+1970/01/02'
  });
</script>

