<!DOCTYPE html>
<html>
<head>
  <title>SmartGardenClient</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="wrapper">

			<!-- Header -->
				<section id="header" class="skel-layers-fixed">
					<header>
						<span class="image avatar"><%= image_tag "leaf.png" %></span>
						<h1 id="logo"><a href="#">My Smart Garden</a></h1>
						<p>All you need for perfect crop</p>
					</header>
					<% if display_navigation %>
						<nav id="nav">
							<ul>
								<li><a href="#one" class="active">Overview</a></li>
								<li><a href="#two">Notificatons</a></li>
								<li><a href="#three">Schedules</a></li>
								<li><a href="#four">Settings</a></li>
							</ul>
						</nav>
					<% end %>
					<footer>
						<ul class="icons">
							<li><a href="https://twitter.com/stirkac" class="icon fa-twitter">follow<span class="label">Twitter</span></a></li>
							<li><a href="http://facebook.com/sebastjan.stojnsek" class="icon fa-thumbs-up">like<span class="label">Facebook</span></a></li>
							<li><%=link_to "create", new_grow_path, class: "icon fa-plus fa-2x"%></li>
						</ul>
					</footer>
				</section>

			<!-- Main -->
				<div id="main">
					<% flash.each do |key, value| %>
						<div id="alert" class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
					<%= yield %>
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy; Sebastjan Stojnšek</li><li><%=DateTime.now.year%></li>
						</ul>
					</div>
				</section>

		</div>
</body>
</html>
