<!DOCTYPE html>
<html>
<head>
  <title>SmartGardenClient</title>
  <%= stylesheet_link_tag    'static', media: 'all' %>
  <%= javascript_include_tag 'static' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key, value| %>
		<div id="alert" class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</body>
</html>
